#background{
    padding: 0;
    margin: 0 0 0 0;
    width: 100%;
    height: 600px;
    background-image: url(Rick.gif);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    font-size: 30px;
    font-family: "Lucida Concole", monospace, serif;
    font-style: normal;
    text-shadow: -2px 0px black;
    color: Darkred;
}
#topdiv{
    width: 100%;
    height: 10%;
    outline: thin black double;
    background: lightgrey;
    display: flex;
    flex-direction: row;
}
#title{
    margin: 8px 6px 3px 6px;
    font-size: 35px;
}
#main_div{
    display: flex;
    flex-direction: row;
    width: 100%;    
    height: 95%;
}
#Temp{
    display: none;
    background: Lightgrey;
    width: 100%;
    margin: 6px 3px 6px 6px;
    border: thin black double;
    border-radius: 10px;
    padding: 25px;
}
#Ljus{
    display: none;
    background: Lightgrey;
    width: 100%;
    margin: 6px 6px 6px 3px;
    border: thin black double;
    border-radius: 10px;
    padding: 25px;
}
input{
    border: none;
    background: none;
    margin: 6px 6px 6px 6px;
    font-size: 30px;
    font-family: "Lucida Concole", monospace, serif;
    font-style: normal;
    text-shadow: -2px 0px black;
    color: Darkred;
}
input:hover{
    background: gainsboro;
    margin: 6px 8px 6px 8px;
}